code.docutils.literal.notranslate { padding: 0.2rem; border: 0; margin: 0; color: #000; background-color: rgba(0, 0, 0, 0.05); border-radius: 0.4rem; }
a > code.docutils.literal.notranslate { background-color: rgba(0, 0, 0, 0); }
