*.lgt linguist-language=Logtalk
*.pl  linguist-language=Prolog

*.lgt diff=logtalk
*.logtalk diff=logtalk

docs/apis/_sources/** linguist-generated=true
docs/apis/_static/** linguist-generated=true
docs/apis/*.html linguist-generated=true
docs/apis/*.info linguist-generated=true
docs/apis/*.svg linguist-generated=true
docs/apis/LogtalkAPIs*.md linguist-generated=true

docs/handbook/_sources/** linguist-generated=true
docs/handbook/_static/** linguist-generated=true
docs/handbook/*.html linguist-generated=true
docs/handbook/*.pdf linguist-generated=true
docs/handbook/*.epub linguist-generated=true
docs/handbook/*.js linguist-generated=true
docs/handbook/*.info linguist-generated=true
docs/handbook/*.inv linguist-generated=true
docs/handbook/TheLogtalkHandbook*.md linguist-generated=true
docs/handbook/contributions/** linguist-generated=true
docs/handbook/devtools/** linguist-generated=true
docs/handbook/faq/** linguist-generated=true
docs/handbook/libraries/** linguist-generated=true
docs/handbook/ports/** linguist-generated=true
docs/handbook/refman/** linguist-generated=true
docs/handbook/tutorial/** linguist-generated=true
docs/handbook/userman/** linguist-generated=true
