# operating-system
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Logtalk distribution files and directories
/TODO.txt
tester_results/

# Logtalk temporary file directories
.lgt_tmp/

# Prolog compiler temporary files
.pl-history
*.out
*.xwam
*.qo
*.ql
*.itf
*.po

# Text editors
.tm_properties
*~
