# operating-system
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Logtalk distribution files and directories
/TODO.txt
/docs/apis/*.pdf
/docs/apis/*.epub
/docs/apis/*.info
/docs/apis/LogtalkAPIs-*.md
/docs/handbook/*.pdf
/docs/handbook/*.epub
/docs/handbook/*.info
/docs/handbook/TheLogtalkHandbook-*.md

# Logtalk automated documenting and testing logs
logtalk_tester_logs/
logtalk_doclet_logs/

# Test reports
tap_report.xml
xunit_report.xml

# Logtalk temporary file directories
.lgt_tmp/
lgt_tmp/

# Prolog compiler temporary files
.pl-history
*.out
*.xwam
*.qo
*.ql
*.itf
*.po

# Text editors
.tm_properties
*~
.vscode/
.vscode_*
.tags
tags

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ
*.iml
.idea/
# codeStylesettings is influenced by local plugins
.idea/codeStyleSettings.xml

# Jupyter notebooks
.ipynb_checkpoints/
.logtalk_server_log_*
.server_output
.jupyter/
*.ipynb
