code.docutils.literal.notranslate { padding: 0.2rem; border: 0; margin: 0; color: #000; background-color: rgba(0, 0, 0, 0.05); border-radius: 0.4rem; }
a > code.docutils.literal.notranslate { background-color: rgba(0, 0, 0, 0); }

#contents > ul > li > ul > li > p { display: inline; }
#contents > ul > li > ul > li { display: inline; list-style-type: none; margin: 0; border: 0; padding: 0; }
#contents > ul > li > ul { list-style-type: none; }
#contents > ul > li { list-style-type: none; margin-bottom: 1rem; }
#contents { background-color: rgba(0, 0, 0, 0.05); padding: 0.5rem; margin-bottom: 1rem; }

.right { text-align: right; margin: 0; border: 0; padding: 0; }
