<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Completions</string>
	<key>scope</key>
	<string>source.logtalk</string>
	<key>settings</key>
	<dict>
		<key>completions</key>
		<array>
			<string>if</string>
			<string>elif</string>
			<string>else</string>
			<string>endif</string>
			<string>encoding</string>
			<string>ensure_loaded</string>
			<string>include</string>
			<string>calls</string>
			<string>category</string>
			<string>dynamic</string>
			<string>end_category</string>
			<string>end_object</string>
			<string>end_protocol</string>
			<string>info</string>
			<string>initialization</string>
			<string>object</string>
			<string>protocol</string>
			<string>synchronized</string>
			<string>threaded</string>
			<string>uses</string>
			<string>alias</string>
			<string>discontiguous</string>
			<string>meta_predicate</string>
			<string>meta_non_terminal</string>
			<string>mode</string>
			<string>module</string>
			<string>multifile</string>
			<string>coinductive</string>
			<string>op</string>
			<string>private</string>
			<string>protected</string>
			<string>public</string>
			<string>use_module</string>
			<string>export</string>
			<string>reexport</string>
			<string>current_object</string>
			<string>current_protocol</string>
			<string>current_category</string>
			<string>object_property</string>
			<string>protocol_property</string>
			<string>category_property</string>
			<string>create_object</string>
			<string>create_protocol</string>
			<string>create_category</string>
			<string>abolish_object</string>
			<string>abolish_protocol</string>
			<string>abolish_category</string>
			<string>complements</string>
			<string>extends</string>
			<string>complements_object</string>
			<string>conforms_to_protocol</string>
			<string>extends_object</string>
			<string>extends_protocol</string>
			<string>extends_category</string>
			<string>implements</string>
			<string>implements_protocol</string>
			<string>imports</string>
			<string>imports_category</string>
			<string>instantiates</string>
			<string>instantiates_class</string>
			<string>specializes</string>
			<string>specializes_class</string>
			<string>abolish_events</string>
			<string>current_event</string>
			<string>define_events</string>
			<string>logtalk_load</string>
			<string>logtalk_compile</string>
			<string>logtalk_library_path</string>
			<string>logtalk_load_context</string>
			<string>current_logtalk_flag</string>
			<string>set_logtalk_flag</string>
			<string>threaded_call</string>
			<string>threaded_once</string>
			<string>threaded_ignore</string>
			<string>threaded_exit</string>
			<string>threaded_peek</string>
			<string>threaded_wait</string>
			<string>threaded_notify</string>
			<string>self</string>
			<string>this</string>
			<string>sender</string>
			<string>parameter</string>
			<string>before</string>
			<string>after</string>
			<string>phrase</string>
			<string>expand_term</string>
			<string>expand_goal</string>
			<string>goal_expansion</string>
			<string>term_expansion</string>
			<string>true</string>
			<string>fail</string>
			<string>false</string>
			<string>call</string>
			<string>catch</string>
			<string>throw</string>
			<string>subsumes_term</string>
			<string>unify_with_occurs_check</string>
			<string>var</string>
			<string>atom</string>
			<string>integer</string>
			<string>float</string>
			<string>atomic</string>
			<string>callable</string>
			<string>compound</string>
			<string>nonvar</string>
			<string>number</string>
			<string>ground</string>
			<string>acyclic_term</string>
			<string>compare</string>
			<string>arg</string>
			<string>copy_term</string>
			<string>functor</string>
			<string>numbervars</string>
			<string>term_variables</string>
			<string>current_predicate</string>
			<string>predicate_property</string>
			<string>abolish</string>
			<string>assertz</string>
			<string>asserta</string>
			<string>clause</string>
			<string>retract</string>
			<string>retractall</string>
			<string>bagof</string>
			<string>findall</string>
			<string>forall</string>
			<string>setof</string>
			<string>current_input</string>
			<string>current_output</string>
			<string>set_input</string>
			<string>set_output</string>
			<string>open</string>
			<string>close</string>
			<string>flush_output</string>
			<string>stream_property</string>
			<string>at_end_of_stream</string>
			<string>set_stream_position</string>
			<string>get_char</string>
			<string>get_code</string>
			<string>peek_char</string>
			<string>peek_code</string>
			<string>put_char</string>
			<string>put_code</string>
			<string>nl</string>
			<string>get_byte</string>
			<string>peek_byte</string>
			<string>put_byte</string>
			<string>read</string>
			<string>read_term</string>
			<string>write</string>
			<string>writeq</string>
			<string>write_canonical</string>
			<string>atom_chars</string>
			<string>atom_codes</string>
			<string>atom_concat</string>
			<string>number_chars</string>
			<string>number_codes</string>
			<string>current_op</string>
			<string>char_conversion</string>
			<string>current_char_conversion</string>
			<string>ignore</string>
			<string>once</string>
			<string>repeat</string>
			<string>atom_length</string>
			<string>atom_concat</string>
			<string>sub_atom</string>
			<string>atom_chars</string>
			<string>atom_codes</string>
			<string>char_code</string>
			<string>number_chars</string>
			<string>number_codes</string>
			<string>set_prolog_flag</string>
			<string>current_prolog_flag</string>
			<string>halt</string>
			<string>keysort</string>
			<string>sort</string>
			<string>abs</string>
			<string>acos</string>
			<string>asin</string>
			<string>atan</string>
			<string>ceiling</string>
			<string>cos</string>
			<string>exp</string>
			<string>float_fractional_part</string>
			<string>float_integer_part</string>
			<string>floor</string>
			<string>log</string>
			<string>max</string>
			<string>min</string>
			<string>mod</string>
			<string>rem</string>
			<string>round</string>
			<string>sign</string>
			<string>sin</string>
			<string>sqrt</string>
			<string>truncate</string>
			<!-- flag names -->
			<string>unknown_entities</string>
			<string>singleton_variables</string>
			<string>misspelt_calls</string>
			<string>underscore_variables</string>
			<string>portability</string>
			<string>redefined_built_ins</string>
			<string>missing_directives</string>
			<string>complements</string>
			<string>dynamic_declarations</string>
			<string>events</string>
			<string>context_switching_calls</string>
			<string>scratch_directory</string>
			<string>report</string>
			<string>smart_compilation</string>
			<string>reload</string>
			<string>hook</string>
			<string>code_prefix</string>
			<string>optimize</string>
			<string>debug</string>
			<string>clean</string>
			<string>source_data</string>
			<string>version</string>
			<string>prolog_dialect</string>
			<string>prolog_version</string>
			<string>prolog_compatible_version</string>
			<string>encoding_directive</string>
			<string>threads</string>
			<string>modules</string>
			<string>tabling</string>
			<string>coinduction</string>
			<string>prolog_compiler</string>
			<string>prolog_loader</string>
		</array>
	</dict>
	<key>uuid</key>
	<string>73BD67B7-8673-4022-BF87-06C69F013847</string>
</dict>
</plist>
