## template = category
#buffermode ( "logtalk" )
#prompt ( "Category name:" $categoryname )
#prompt ( "Implemented protocols (comma separated):" $protocols )
#if ( $protocols )
:- category($categoryname,
	implements($protocols)).
#else
:- category($categoryname).
#end

#prompt ( "Version:" $version "1.0" )
#prompt ( "Author name:" $authorname )
#prompt ( "Comment:" $comment )
#today ( $date "yyyy/MM/dd" )
	:- info([
		version is $version,
		author is '$authorname',
		date is $date,
		comment is '$comment']).


#caret ()

:- end_category.
