<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Symbol list: entities</string>
	<key>scope</key>
	<string>source.logtalk entity.name</string>
	<key>settings</key>
	<dict>
		<key>showInSymbolList</key>
		<integer>1</integer>
		<key>symbolTransformation</key>
		<string></string>
	</dict>
	<key>uuid</key>
	<string>F7EA22E4-A54C-4BAB-8E65-F411A8B1107A</string>
</dict>
</plist>
